.container p{
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.cursor{
    position: fixed;
    width: 45px;
    height: 45px;
    border: 1px solid #27cfb1;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursorInner{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #27cfb1;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

.container:hover ~ .cursor, .cursorInner{
    transform: translate(-50%, -50%);
    background-color: #27cfb1;
    opacity: 0.5;
}